# Clojure files
.calva/
.clj-kondo/
.lsp/

# Rust output
solution

# C# output
*.exe

# C output
*.out

# Node.js files
node_modules/

# TypeScript Node.js files
dist/

# Don't let me accidentally save my session ID...
.envrc

.vscode/

# 2024 django caching
**/__pycache__/